<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="IpOfMatch" value="127.0.0.1"></add>
    <add key="PlayerCountInAMatch" value="2"></add>
    <add key="PortOfMatchMaker" value="61500"></add>
    <add key="PortOfDB" value="61499"></add>
    <add key="ServerGameObjectExtensionWrapper" value="true"/>
    <add key="MatchTickRate" value="30"/>
    <add key="DBTickRate" value="30"/>
    <add key="MaxRounds" value="3"/>
  </appSettings>
</configuration>
